/* footer */ 
footer {
    background-color: $color-footer;
    box-sizing: border-box;
    padding: 25px;
    padding-top: 5px;
    color: $color-white;
    }   footer h5 {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        }  footer span {
            color: $color-white;
        }      .margin-footer {
                @include margin_footer__elements;
                } .margin-footer__span {
                    margin-left: 6px;
                }

@media screen and (min-width:768px) {
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 3rem;
    } footer h5 {
        font-size: large;
    } .footer_responsive {
        display: flex;
        flex-direction: row;
    } .margin-footer {
        margin-right: 2rem;
    }
}