

.img_page_restaurant {
    object-fit: cover;
    width: 100%;
    background-position: center;
    max-height: 20em;
    z-index: -1;
    @include relative
}

#Menu {
    background-color: $color-block;
    margin-top: -3em;
    border-radius: 35px 35px 0 0;
    padding-bottom: 5em;
    .Menu__titre {
    @extend %flex-between;
    padding: 0.5rem 1rem;
    font-size: 20px;
    }  .Menu__titre h2 {
    font-family: 'Shrikhand', cursive;
    margin-right: 5px;
    }  .container {
        box-sizing: border-box;
    } .container h4 {
        color: #7b7b7b;
        font-weight: 400;
        margin: 0.5em auto;
        padding-left: 1.5em; }
        .sidebar {
            height: 0.2em;
            width: 2.5em;
            background-color: #99e2d0;
            margin-left: 1.5em;
            }
            .menu-block {
                margin-bottom: 3rem;
                overflow: hidden;
                
            } .menu-block-card {
                overflow: hidden; /* pour caché le check qui est hors de la carte */ 
                @include animation-apparation; /* animation apparation */ 
                background-color: $color-white;
                @include relative;
                width: 95%;
                margin: 1em auto 1em auto;
                border-radius: 10px;
                height: 5rem;
                box-shadow: 1px 1px 8px $color-shadow-menu;
                } .menu-block-elements {
                display: flex;
                padding-left: 5px;
                } .menu-block-elements h3 {
                    margin: 0.6em auto;
                    margin-top: 1.2rem;
                } .menu-block-price {
                display: flex;
                align-items: flex-end;
                margin-left: auto;
                font-weight: 900;
                margin-right: 1rem;
                margin-bottom: 0.8rem;
                } .button {
                @extend %flex-center
                } .menu-block-elements span {
                @include taille-description_menu;
                } .menu-block-check{
                background-color: #99e2d0;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                margin-right: -5rem; /* pour qu'il sorte de la carte */ 
                width: 5rem;
                transition: margin-right 0.5s /* transition de 0.5 seconde quand le check reviens sur la carte */ 
                } .menu-block-check i {
                    color: white;
                    @extend %flex-center;
                    font-size: 2em;
                    }.menu-block-card:hover .menu-block-check{ /* pour quand on passe la souris sur la carte le check reviens sur la carte*/ 
                        margin-right: 0;
                    }
                     .menu-block-card:hover .menu-block-check i { /* l'animation spin de l'icone check */ 
                    @include animation-icone-check;
                    } 
    }



@media screen and (min-width: 768px) {
    .container {
        margin-right: 5rem;
        margin-left: 5rem;
    } .Menu__titre h2 {
        margin-left: 3rem;
    } .Menu__titre i {
        margin-right: 3rem;
    } 
    }

@media screen and (min-width:1024px) {
    .menu_responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
    } .container {
        width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
}

.menu-block-overflow { /* class pour que le texte ne déforme pas la carte lors du CHECK */ 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




