@mixin zoom {
    cursor: pointer;
    transform: scale(1.02);
}
@mixin margin_footer__elements {
    margin-bottom: 10px;
}
@mixin margin_footer {
    top: 5%;
}

@mixin relative {
    position: relative;
}

@mixin absolute {
    position: absolute;
}

@mixin taille-description_menu {
    font-size: 0.9rem;
}

@mixin linear-gradient {
    background-image: linear-gradient( to top, #9356DC, #ff79da);
}

/* ANIMATION COEUR */ 

@mixin animation-heart {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 550ms ease-in;
    &:hover  {
        opacity: 1;
    }
}


/* ANIMATION TRANSITION BAS-HAUT CARTE RESTAURANT */ 

@mixin animation-apparation {
    @keyframes apparition {
        0% {
            transform: translateY(50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
        
    }
    @for $i from 1 through 4{
        &:nth-child(#{$i}) {
            animation-delay: 200ms * $i;
            }
    } 
        animation: apparition 2s;
        animation-fill-mode: both;
    
}

/* ANIMATIONS LOADER */ 

@mixin animation-loader {
    @keyframes disparition {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    animation: disparition 200ms 3s forwards ease; 

    
}

@mixin animation-titre-loader {
    @keyframes bounce {
        50% {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1) ;
        }
    }
        animation: bounce 1.5s infinite linear;
        
    
}

@mixin animation-icone-loader {
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    animation: spin 2s infinite linear;
}

/* ANIMATION CHECK CARTE MENU */ 

@mixin animation-icone-check {
    @keyframes check{
        to {
            transform: rotate(360deg);
        }
    }
    animation: check 0.5s linear;    
    
}