%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%flex-start {
    display: flex;
    align-items: flex-start;
}

%text-align-center {
    text-align: center;
}

%space_evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}