/* couleur principales du site */

$primary-color: #9356DC;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$grey: #eaeaea;
$color-block: #f6f6f6;
$color-white: white;
$color-black: black;
$color-footer: #1e1e1e;
$color-MenuTitre: #7b7b7b;
$color-shadow-menu: #c2c2c2;
$color-hoverfonctionnement: #f2eafb;
$color-bloc-focntionnement : #f2f2f2;
$color-icon-fonctionnement : #7d7d7d;
$color-lightgrey : lightgrey;