@import "./_variables";
@import "./placeholders";
@import "./mixins";
@import "./header";
@import "./pages/main-pageaccueil";
@import "./footer";
@import "./pages/main-page-restau";
@import "./nav";

@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

main,
footer {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $color-black;
}

@media screen and (min-width: 1921px) {
  html,
  body {
    width: 100%;
    margin: auto;
    height: 100%;
  }
  
}
