@import './_variables';
@import './placeholders';
@import './mixins';
@import './header';
@import './main-pageaccueil';
@import './footer';
@import './main-page-restau';
@import './nav';

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main, footer {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $color-black;
}

