@charset "UTF-8";
/* couleur principales du site */
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header, .fonctionnement_etape_block, .fonctionnement_etape_block span, .loader, #Menu .button, #Menu .menu-block-check i, .nav_logsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_rest__description, #Menu .Menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description_box {
  text-align: center;
}

.fonctionnement--h2, .restaurant--h2 {
  padding-top: 2rem;
  padding-bottom: 0;
  margin: 1rem;
}

.loader_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ANIMATION COEUR */
/* ANIMATION TRANSITION BAS-HAUT CARTE RESTAURANT */
/* ANIMATIONS LOADER */
/* ANIMATION CHECK CARTE MENU */
/* header accueil */
.header {
  font-family: 'Shrikhand', cursive;
  -webkit-box-shadow: 0 0 0.5rem;
          box-shadow: 0 0 0.5rem;
  padding: 0.2rem;
  margin: 0;
  position: relative;
}

/* header page d'un restau */
.header i {
  position: absolute;
  left: 1rem;
  top: 2.2rem;
}

/* section description 'de reservez.... à : le bouton 'explorer nos restau */
#description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description_box {
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding-top: 20px;
}

.description_box p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.description__button {
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79da));
  background-image: linear-gradient(to top, #9356DC, #ff79da);
}

.description__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

/* SECTION FONCTIONNEMENT */
#fonctionnement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fonctionnement_etape_block {
  background-color: #f2f2f2;
  padding: 3%;
  height: 60px;
  margin: 1em auto;
  width: 85%;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 0.2em 0.5em lightgrey;
          box-shadow: 0 0.2em 0.5em lightgrey;
}

.fonctionnement_etape_block span {
  background-color: #9356DC;
  color: white;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  padding: 0.3em;
  border-radius: 50%;
  position: absolute;
  left: -0.7rem;
}

.fonctionnement_etape_block i {
  color: #7d7d7d;
  font-size: 22px;
  margin-right: 5%;
}

.fonctionnement_etape_block p {
  font-weight: bold;
  margin-right: 10%;
}

.fonctionnement_etape_block:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #f2eafb;
}

/* SECTION CARTES RESTAURANTS */
#Restaurants {
  background-color: #f6f6f6;
  margin-top: 15%;
  padding-bottom: 15%;
}

.card_rest {
  background-color: white;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 10px;
  margin: 1rem;
  margin-top: 5%;
  -webkit-box-shadow: 0 2px 10px #cecece;
          box-shadow: 0 2px 10px #cecece;
}

.card_rest__pictures {
  position: relative;
  width: 100%;
}

.card_rest__new {
  position: absolute;
  background-position: center;
  color: #147c62;
  background-color: #99e2d0;
  padding: 8px 11px 8px 11px;
  font-size: 18px;
  top: 5%;
  right: 5%;
  border-radius: 5px;
}

.card_rest__image {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
}

.card_rest__description {
  margin-bottom: 5%;
}

.card_rest__title {
  display: block;
}

.card_rest__title h3 {
  margin-bottom: 0;
  padding-left: 15px;
  margin-top: 8%;
}

.card_rest__title span {
  margin-top: 2px;
  padding-left: 15px;
}

.card_rest__heart {
  margin-right: 3rem;
  margin-bottom: 20px;
}

.card_rest__heart i {
  position: absolute;
}

/* FIN SECTION CARTES RESTAURANTS */
/* tablette */
@media screen and (min-width: 768px) {
  .fonctionnement_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement--h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fonctionnement_etape_block {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 15px;
    width: 100%;
    border-radius: 10px;
  }
  .fonctionnement_etape_block p {
    margin-right: 0;
  }
  #Restaurants {
    margin-top: 5%;
    padding-bottom: 5%;
  }
  .restaurant--h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_rest {
    width: 70%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .card_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .card_rest {
    margin-left: 5rem;
    margin-right: 5rem;
    height: 350px;
  }
  .card_rest__image {
    height: 280px;
  }
  .restaurant--h2 {
    font-size: xx-large;
  }
}

/* animation coeur */
.fas {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79da));
  background-image: linear-gradient(to top, #9356DC, #ff79da);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 550ms ease-in;
  transition: all 550ms ease-in;
}

.fas:hover {
  opacity: 1;
}

.loader {
  position: fixed;
  background-color: #f2eafb;
  height: 100vh;
  z-index: 1;
  inset: 0;
  -webkit-animation: disparition 200ms 3s forwards ease;
          animation: disparition 200ms 3s forwards ease;
}

@-webkit-keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.loader_elements {
  width: 15rem;
}

.loader_elements h1 {
  font-size: 300%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79da));
  background-image: linear-gradient(to top, #9356DC, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Shrikhand', cursive;
  -webkit-animation: bounce 1.5s infinite linear;
          animation: bounce 1.5s infinite linear;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loader_elements i {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79da));
  background-image: linear-gradient(to top, #9356DC, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* footer */
footer {
  background-color: #1e1e1e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  padding-top: 5px;
  color: white;
}

footer h5 {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}

footer span {
  color: white;
}

.margin-footer {
  margin-bottom: 10px;
}

.margin-footer__span {
  margin-left: 6px;
}

@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  footer h5 {
    font-size: large;
  }
  .footer_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .margin-footer {
    margin-right: 2rem;
  }
}

.img_page_restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-position: center;
  max-height: 20em;
  z-index: -1;
  position: relative;
}

#Menu {
  background-color: #f6f6f6;
  margin-top: -3em;
  border-radius: 35px 35px 0 0;
  padding-bottom: 5em;
}

#Menu .Menu__titre {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

#Menu .Menu__titre h2 {
  font-family: 'Shrikhand', cursive;
  margin-right: 5px;
}

#Menu .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Menu .container h4 {
  color: #7b7b7b;
  font-weight: 400;
  margin: 0.5em auto;
  padding-left: 1.5em;
}

#Menu .sidebar {
  height: 0.2em;
  width: 2.5em;
  background-color: #99e2d0;
  margin-left: 1.5em;
}

#Menu .menu-block {
  margin-bottom: 3rem;
  overflow: hidden;
}

#Menu .menu-block-card {
  overflow: hidden;
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background-color: white;
  position: relative;
  width: 95%;
  margin: 1em auto 1em auto;
  border-radius: 10px;
  height: 5rem;
  -webkit-box-shadow: 1px 1px 8px #c2c2c2;
          box-shadow: 1px 1px 8px #c2c2c2;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#Menu .menu-block-card:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

#Menu .menu-block-card:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

#Menu .menu-block-card:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

#Menu .menu-block-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
}

#Menu .menu-block-elements h3 {
  margin: 0.6em auto;
  margin-top: 1.2rem;
}

#Menu .menu-block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}

#Menu .menu-block-elements span {
  font-size: 0.9rem;
}

#Menu .menu-block-check {
  background-color: #99e2d0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: -4rem;
  /* pour qu'il sorte de la carte */
  width: 4rem;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

#Menu .menu-block-check i {
  color: white;
  font-size: 2em;
}

#Menu .menu-block-card:hover .menu-block-check {
  /* pour quand on passe la souris sur la carte le check reviens sur la carte*/
  margin-right: 0;
}

#Menu .menu-block-card:hover .menu-block-check i {
  /* l'animation spin de l'icone check */
  -webkit-animation: check 0.5s linear;
          animation: check 0.5s linear;
}

@-webkit-keyframes check {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .Menu__titre h2 {
    margin-left: 3rem;
  }
  .Menu__titre i {
    margin-right: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.menu-block-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav_base {
  width: 100%;
  background-color: #eaeaea;
  padding: 15px 0 15px 0;
}

.nav__logo {
  margin-right: 10px;
}

.nav__search {
  border: none;
  background-color: #eaeaea;
  width: 120px;
}

main, footer {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1921px) {
  html, body {
    width: 80%;
    margin-left: 10%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */